h1, h4 {
    display: flex;
    justify-content: center;
}

h4, p {
    margin: 0px;
}

.gameboard {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
}

.square {
    display: grid;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    height: 50px;
    width: 50px;
}

.x-square, .o-square {
    display: grid;
    justify-content: center;
    align-content: center;
}

.choose-symbols {
}

.symbols {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.hidden {
    display: none;
}

.button-flex {
    display: flex;
    justify-content: center;
}

#win-con {
    display: flex;
    justify-content: center;
}

#play-again {
    display: none;
    margin: 15px;
    padding: 3px;
}
